:root {
  --background: #494949;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #575757;
  }
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden; 
  background-repeat: no-repeat; /* Previene la repetición del fondo */
  background: linear-gradient(180deg, #5f5e5e, #2c2828, #1b1c1f);
  color: #fff; /* Texto blanco */
}

body {
  background-color: #232323; /* Fondo negro */
  background-repeat: no-repeat; /* Previene la repetición del fondo */
  color: #fff; /* Texto blanco */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.custom-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal; /* Sin negritas */
  color: #000; /* Color negro */
  text-decoration: none; /* Para quitar el subrayado si lo deseas */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.custom-bg-dark-blue {
  background-color: #3d3d3d; /* Color ligeramente más oscuro */
  color: #fff; /* Texto blanco para buen contraste */
}

.custom-bg-dark-pink {
  background-color: #3d3d3d; /* Color ligeramente más oscuro */
  color: #fff; /* Texto blanco para buen contraste */
}

.dark-orange {
  color: #5689ff;
}

.titles {
  color: #c5c5c5;
}

.link {
  color: #007bff; /* Azul primario, puedes cambiar este color */
  text-decoration: none; /* Sin subrayado por defecto */
  font-weight: bold; /* Hace que el texto del enlace sea más prominente */
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Animación suave al pasar el cursor */
}

.link:hover {
  padding: 2px 5px; /* Un poco de padding para destacar más */
}

.link-gray {
  color: #6c757d; /* Gris medio, puedes cambiar el tono según prefieras */
  text-decoration: none; /* Sin subrayado para un aspecto más limpio */
  transition: color 0.3s ease; /* Transición suave al cambiar el color */
}

.link-gray:hover {
  color: rgb(167, 170, 173); /* Un gris ligeramente más oscuro al pasar el cursor */
  text-decoration: none; /* Subrayado para resaltar el enlace */
}

.icon-spacing {
  margin-right: 1rem; /* Ajusta según la cantidad de espacio que prefieras */
}

.icon-spacing:last-child {
  margin-right: 0; /* Asegura que el último icono no tenga margen derecho extra */
}